<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comment-name">
        <div class="meta">
            {{user.user_name}}
        </div>
        </div>
        <div class="comment-text">
        <div class="text">
            {{comment_text}}
        </div>
        </div>
    </section>
    {{/each}}
</div>