<article class="article">
    <div class="content">
        <p>
            Username: {{articles.[0].user.user_name}}
        </p>
        <p>
            Articles: {{articles.length}}
        </p>
        <a href="/dashboard/edituser">Edit profile</a>
    </div>
</article>